<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p> これはTo do app です </p>

<ul>
  <li>  <%= link_to 'ユーザーページ',  user_home_path %> </li>
       <%if @user.role == "admin" %>
    <li>    <%= link_to 'アドミンページ',  admin_users_path %> </li>
</ul>
   <% end %>
