<%= form_with(url: '/user_home',model: ToDoItem.new, local: true) do |f| %>

<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        <%= f.text_field(:start_at, placeholder: '開始時間',
          class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"}) %>
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fas fa-calendar-plus"></i></div>
        </div>
      </div>

      <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
              <%= f.text_field(:end_at, placeholder: '終了時間',
                class: "form-control datetimepicker-input", data: {target:"#datetimepicker2"}) %>
              <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fas fa-calendar-plus"></i></div>
              </div>
            </div>
   <%= f.submit %>
 </div>
<% end %>
